<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRuYdiiKbWQgt64Fp846plY0LMmCuXd9I</string>
	<key>GCM_SENDER_ID</key>
	<string>690723571374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naad.naadBailgada</string>
	<key>PROJECT_ID</key>
	<string>naad-bailgada</string>
	<key>STORAGE_BUCKET</key>
	<string>naad-bailgada.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690723571374:ios:97751f61e5e8c1f4454f3f</string>
</dict>
</plist>